---
import Contactdiv from "./contactdiv.astro"
---
<section class="flex flex-col items-center lg:items-start w-full mt-25 mb-20 border-t-2 shadow-lg border-white/5 lg:px-0  px-10">

  <div class="flex flex-col items-center w-full pb-11 mt-2">
      <h1 class="text-white text-4xl md:text-5xl font-bold p-2 text-center" id="contacto">
        Cont<span class="inline-block bg-gradient-to-r from-red-600 to-indigo-400 bg-clip-text text-transparent">acto</span>
      </h1>
      <div class="h-0.5 w-3/4 sm:w-[350px] mt-2 bg-gradient-to-r from-red-600 to-indigo-400 rounded-full"></div>
    </div>

    <Contactdiv/>
</section>