<header class="flex justify-center m-auto items-center p-4 text-white opacity-90">
    <nav class="flex space-x-4">
        <a href="">Sobre mí</a>
        <a href="">Proyectos</a>
        <a href="">Experiencia</a>
    </nav>
</header>

<style>
    nav a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    nav a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
</style>